@charset "UTF-8";

    /* ----------------------------------------------------------------------------------------------- */
	/* CSS For ConsoleLog Page */
	.consoleText {
		color:#fff;
		font-size: 18px;
		font-weight: 400;
		margin-top: 5px;
		margin-left: 18px;
		overflow: auto;
	}
	/* ----------------------------------------------------------------------------------------------- */