@charset "UTF-8";

    /* ----------------------------------------------------------------------------------------------- */
	/* CSS For End Round Page */
	/* Center of Screen */
	.center {
		margin: auto;
		width:60%;
		padding: 0px;
		text-align: center;
	}

	.center .title {
		margin-top: 10px;
		color: #fff;
		font-size: 48px;
		font-weight: 700;
	}

	.center .scores {
		margin-top:10px;
		color: #fff;
		font-size: 36px;
		font-weight: 500;
	}

	.center .pileSize {
		margin-top: 75px;
		color: #fff;
		font-size: 36px;
		font-weight: 500;
	}

	.center .numSpades {
		margin-top: 50px;
		color: #fff;
		font-size: 36px;
		font-weight: 500;
	}

	.center .roundPoints {
		margin-top: 50px;
		color: #fff;
		font-size: 36px;
		font-weight: 500;
	}

	.center .roundWinner {
		margin-top: 30px;
		color: #fff;
		font-size: 48px;
		font-weight: 700;
	}

	.center .tournamentWinner {
		margin-top: 40px;
		color: #fff;
		font-size: 56px;
		font-weight: 800;
	}

	.RoundHuman {
		position: absolute;
		top: 190px;
		left: 475px;
		text-align: right;
	}

	/* End Round Human Scores */
	.RoundHuman .yourScores {
		margin-top: 20px;
		color: #fff;
		font-size: 32px;
		font-weight: 500;
	}

	.RoundHuman .humanPileSize {
		margin-top: 30px;
		margin-right: 70px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.RoundHuman .humanNumSpades {
		margin-top: 55px;
		margin-right: 70px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.RoundHuman .humanRoundPoints {
		margin-top: 75px;
		margin-right: 70px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.RoundHumanTotal {
		position: absolute;
		top: 70px;
		left: 30px;
		color: #fff;
		font-size: 34px;
		font-weight: 500;
	}

	.RoundHumanTotalScore {
		position: absolute;
		top: 110px;
		left: 140px;
		color: #fff;
		font-size: 34px;
		font-weight: 600;
	}


	/* End Round Computer Scores */
	.RoundComputerTotal {
		position: absolute;
		top: 70px;
		right: 30px;
		color: #fff;
		font-size: 34px;
		font-weight: 500;
	}

	.RoundComputerTotalScore {
		position: absolute;
		top: 110px;
		right: 195px;
		color: #fff;
		font-size: 34px;
		font-weight: 600;
	}

	.RoundComputer {
		position: absolute;
		top: 190px;
		right: 425px;
		text-align: left;
	}

	.RoundComputer .computerScores {
		margin-top: 20px;
		color: #fff;
		font-size: 32px;
		font-weight: 500;
	}

	.RoundComputer .computerPileSize {
		margin-top: 30px;
		margin-left: 125px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.RoundComputer .computerNumSpades {
		margin-top: 55px;
		margin-left: 125px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.RoundComputer .computerRoundPoints {
		margin-top: 75px;
		margin-left: 125px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}
	/* ----------------------------------------------------------------------------------------------- */




	/* ----------------------------------------------------------------------------------------------- */
	.TournamentHuman {
		position: absolute;
		top: 190px;
		left: 475px;
		text-align: right;
	}

	/* End Round Human Scores */
	.TournamentHuman .yourScores {
		margin-top: 20px;
		color: #fff;
		font-size: 32px;
		font-weight: 500;
	}

	.TournamentHuman .humanPileSize {
		margin-top: 30px;
		margin-right: 70px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.TournamentHuman .humanNumSpades {
		margin-top: 55px;
		margin-right: 70px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.TournamentHuman .humanRoundPoints {
		margin-top: 75px;
		margin-right: 70px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.TournamentHumanTotal {
		position: absolute;
		top: 70px;
		left: 30px;
		color: #fff;
		font-size: 34px;
		font-weight: 500;
	}

	.TournamentHumanTotalScore {
		position: absolute;
		top: 110px;
		left: 140px;
		color: #fff;
		font-size: 34px;
		font-weight: 600;
	}


	/* End Round Computer Scores */
	.TournamentComputerTotal {
		position: absolute;
		top: 70px;
		right: 30px;
		color: #fff;
		font-size: 34px;
		font-weight: 500;
	}

	.TournamentComputerTotalScore {
		position: absolute;
		top: 110px;
		right: 195px;
		color: #fff;
		font-size: 34px;
		font-weight: 600;
	}

	.TournamentComputer {
		position: absolute;
		top: 190px;
		right: 425px;
		text-align: left;
	}

	.TournamentComputer .computerScores {
		margin-top: 20px;
		color: #fff;
		font-size: 32px;
		font-weight: 500;
	}

	.TournamentComputer .computerPileSize {
		margin-top: 30px;
		margin-left: 125px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.TournamentComputer .computerNumSpades {
		margin-top: 55px;
		margin-left: 125px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}

	.TournamentComputer .computerRoundPoints {
		margin-top: 75px;
		margin-left: 125px;
		color: #fff;
		font-size: 32px;
		font-weight: 600;
	}
	/* ----------------------------------------------------------------------------------------------- */