@charset "UTF-8";

    .loadCenter {
        margin: auto;
		width:90%;
		padding: 0px;
		text-align: center;
    }

    .loadCenter .title {
        font-size: 52px;
        font-weight: 600;
        color: #fff;
    }

    .loadCenter .info {
        font-size: 36px;
        font-weight: 500;
        color: #fff;
    }

    .custom-file-upload {
        margin-top:30px;
        width:275px;
        height: 75px;
        font-size: 28px;
        font-weight: 500;
        padding-top: 18px; 
        border-radius: 30px;
        display: inline-block;
        cursor: pointer;
        background: #fff;
    }

    input[type="file"] {
        display: none;
    }