@charset "UTF-8";
	
	body {
		background: #00506d;
		padding-top: 80px;
	}

	header {
		height: 60px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		background: #25b99a;
		box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	header title {
		color:#fff;
		font-size: 28px;
		font-weight: 600;
		margin-top: 10px;
		margin-left: 18px;
		display: inline-block; 
	}

	header button {
		position: fixed;
		top: 7px;
		right: 20px;
		height: 45px;
		width: 75px;
		z-index: 2;
		border-radius: 25px;
		background: #fff;
		border: 0px;
		box-shadow: none;
		outline: none;
		display: inline-block;
	}


	.controls {
		position: absolute;
		top: 840px;
		right: 100px;
		background-color: #00506d;
  		overflow: auto;
  		white-space: nowrap;
  		max-height: 55px;
  		padding-left: 10px;
  		padding-top: 5px;
  		padding-bottom: 5px;
	}


	.controls button {
		height: 50px;
		width: 150px;
		border-radius: 15px;
		background-color: #fff;
		color: black;
		font-size: 20px;
		font-weight: 500;
		padding: 1px;
		margin-left: 10px;
		margin-right: 5px;
		cursor: pointer;
		float: left;
	}


	/* Deck View Items */
	/* Scroll View */
	.deckScroll {
  		background-color: #00506d;
  		overflow: auto;
  		white-space: nowrap;
  		max-height: 80px;
  		margin-top: 5px; 
  		margin-left: 20px;
  		margin-right: 20px;
	}

	/* Item Views For Each Card */ 
	.deckScroll img {
		height: 75px;
		padding-right: 10px; 
	}


	.tableScroll {
		position: absolute;
		top:510px;
		right:50px;
		background-color: #00506d;
  		overflow-y: scroll;
  		white-space: nowrap;
  		height: 160px;
  		max-width: 1250px;
	}

	.tableScroll img {
		height: 150px;
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		margin-right: 15px;
		border-radius: 15px;
		cursor: pointer;
	}


	.computerHand {
		position: absolute;
		top: 180px;
		right: 0px;
		background-color: #00506d;
  		overflow: auto;
  		white-space: nowrap;
  		height: 125px;
  		padding-left: 10px;
  		padding-top: 10px;
  		padding-bottom: 5px;
	}

	.computerHand img {
		height: 110px;
		padding-right: 100px;
	}


	.humanHand {
		position: absolute;
		top: 680px;
		right: 0px;
		background-color: #00506d;
  		overflow: auto;
  		white-space: nowrap;
  		max-height: 160px;
	}

	.humanHand img {
		height: 155px;
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		margin-right: 60px;
		border-radius: 15px;
		cursor: pointer;
	}


	::-webkit-scrollbar-track {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.1);
		border: 1px solid #ccc;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: linear-gradient(left, #fff, #e4e4e4);
		border: 1px solid #aaa;
	}

	::-webkit-scrollbar-hover {
		background: #fff;
	}

	::-webkit-scrollbar-thumb:active {
		background: linear-gradient(left, #22ADD4, #1E98BA);
	}